# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Protobuf
*.pb.cpp
*.pb.h
*_pb2.py

# Python stuff
*.pyc

# Emacs
*~

# Misc
pin_env.sh
pin-2.13*

